/*Header Styler*/

.header-container {
	position: fixed;
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
	z-index: 20;
	background-color: white;
	width: 100%;
	height: 120px;
}
.logo {
	width: 138px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 23px;
	margin-left: 140px;
	margin-bottom: 23px;	
}
.navigation {
	display: inline-block;
	vertical-align: middle;
	margin-left: 119px;
}
.nav-li {
	display: inline-block;
	vertical-align: middle;
}
.nav-a {
	font-family: 'Poppins';
	font-weight: normal;
	font-size: 16px;
	margin: 30px;
	color: #181C28;
}
.active {
	font-weight: bold;
}

/*Cover Style*/

.cover-container {
	position: relative;	
}
.cover-image {
	margin-top: 120px;
	width: 100%;
}
.cover-text1 {
	position: absolute;
	font-family: 'Poppins';
	font-size: 22px;
	color: #fff;
	font-weight: normal;
	top: 40%;
	width: 100%;
	text-align: center;
}
.cover-text2 {
	position: absolute;
	font-family: 'Poppins';
	font-size: 48px;
	color: #fff;
	font-weight: bold;
	top: 50%;
	width: 100%;
	text-align: center;
}

/*Popular Post*/

.section-headline {
	font-family: 'Poppins';
	font-size: 22px;
	font-weight: 500;
	color: #FF7A00;
	margin-top: 84px;
	margin-left: 290px;
}
.postcontainer {
	width: 1330px;
	margin: 0 auto;
	display: inline-block
	vertical-align: middle;
	margin-top: 81px;
}
.left-box {
	width: 636px;
	margin-right: 52px;
	display: inline-block;
	vertical-align: middle;
}
.post-image {
	left: 0%
	margin-top: 11px;
	display: inline-block;
	vertical-align: middle;
}
.post-headline {
	width: 563px;
	font-family: 'Poppins';
	font-size: 36px;
	font-weight: bold;
	margin-top: 20px;
	display: inline-block;
	vertical-align: middle;
}
.post-textbox {
	width: 636px;
	font-family: 'Poppins';
	font-size: 16px;
	font-weight: normal;
	color: #7B7B7B;
	margin-top: 22px;
	display: inline-block;
	vertical-align: middle;
}
.post-link {
	font-family: 'Poppins';
	font-size: 14px;
	font-weight: bold;
	color: #FF7A00;
	margin-top: 20px;
	display: inline-block;
	vertical-align: middle;
}
.divider {
	background-color: #FF7A00;
	width: 47px;
	height: 4px;
	margin-left: 18px;
	display: inline-block;
	vertical-align: bottom;
}
.right-box {
	width: 636px;
	display: inline-block;
	vertical-align: middle;
}
.postine-2 {
	margin-top: 57px;
}
.button-box {
	background-color: #FF7A00;
	width: 190px;
	height: 70px;
	font-family: 'Poppins';
	font-weight: bold;
	font-size: 16px;
	color: white;
	border-radius: 5px;
	margin-top: 66px;
	margin-left: 43%;
	padding: 30px 48px;
}
.footer-divider {
	width: 100%;
	height: 266px;
	background-color: #181C28;
	margin-top: 134px;
}

/*Footer*/

.footer-headline {
	display: inline-block;
	font-family: 'Poppins';
	font-size: 24px;
	font-weight: bold;
	margin-top: 82px;
	margin-left: 138px;
}
.footer-company {
	display: inline-block;
	vertical-align: top;
}
.footer-ul {
	font-family: 'Poppins';
	font-size: 16px;
	color: #7B7B7B;
	line-height: 1.6;
	margin-top: 15px;
	margin-left: 138px
}
.footer-service {
	display: inline-block;
	vertical-align: top;
	margin-left: 188px;
}

.footer-ordersandreturns {
	display: inline-block;
	vertical-align: top;
	margin-left: 232px;
}
.footer-payment {
	display: inline-block;
	margin-right: 138px;
}
/*.amexpr {
	display: inline-block;
}
.mastercard {
	display: inline-block;
}
.visa {
	display: inline-block;
}*/
.copyright {
	font-family: 'Poppins';
	font-size: 16px;
	color: #A4A4A4;
	margin-top: 45px;
	margin-left: 1380px;
}
.space {
	width: 100%;
	height: 137px;
}